.track-container {
  margin-bottom: 15px;
}

.track-container .track-list {
  margin-bottom: 15px;
}

.track-container .track:not(:last-child) {
  margin-bottom: 5px;
}

.track-container audio {
  height: 31px;
}

.track-container .recorder {
  text-align: center;
}

.track-container .recorder > .button {
  border-radius: 9999px;
}