.controls-container
  fixed-container(top-container-height, controls-container-height)
  border-bottom: 1px solid border-color
  background-color: background-color

.controls
  margin-top: 16px

.controls-lick
  margin-left: main-content-margin-left
  text-align: left
  align-items: center

.controls-routine
  margin-left: main-content-margin-left
  margin-right: main-content-margin-left
  display: flex
  justify-content: space-between

  p
    display: inline-block
    margin-right: 10px

.controls-routine-date
  // margin-left: 50px
  // margin-right: 50px