.main-container
  background-color: main-container-color

.main-content
  margin-top: top-container-height + controls-container-height
  margin-right: main-content-margin-right
  margin-left: main-content-margin-left
  padding-top: 20px

.lick-list
  display: flex
  flex-wrap: wrap
