#controls-container
  fixed-container(top-container-height, controls-container-height)
  border-bottom: 1px solid border-color
  background-color: background-color

#lick-controls
  margin-top: 16px
  margin-left: main-content-margin-left
  text-align: left
  