#top-container
  fixed-container(0px, top-container-height)
  border-bottom: 1px solid border-color
  background-color: top-container-color
  text-align: center
  z-index: 15

  nav
    display: inline-block
    margin-top: 7px
