suggestion-color = rgba(255, 255, 255, 0.95)
suggestion-highlighted-color = rgba(245, 245, 245, 0.95)

#search-container
  display: inline-block

  input
    width: 200px
    border-radius: 20px
    font-size: control-font-size

  .suggestion-container-open
    overflow-y: scroll
    max-height: 450px
    border: 1px solid border-color
    background-color: suggestion-color

  .suggestion, .section-title
    padding: 5px 10px
    font-size: control-font-size

  .suggestion-highlighted
    background-color: suggestion-highlighted-color

  .lick-filters
    margin-top: 1.5px
    margin-left: 15px
    max-width: 553px