.modal-content
  width: 450px

.lick-form
  font-size: lick-font-size

  .label, .input
    font-size: 14px

  .tags
    margin-bottom: 0px

  .field:not(:last-child)
    margin-bottom: 15px

  .field:nth-last-child(2)
    margin-bottom: 20px

  .track-container
    margin-right: -24px
    margin-left: -24px
    padding-left: 24px
    padding-right: 24px