track-container-border = 1px solid border-color //#a2a2a2

.track-container
  padding: 10px
  border-top: track-container-border
  border-bottom: track-container-border
  background-color: whitesmoke
  background-size: cover

  &:hover .button
    visibility: visible

  .center
    text-align: center
    // width: 52px
    .div
      display: inline-block

  .button
    // visibility: hidden
    margin: 0 auto