.track-container
  padding: 10px
  border: 1px solid lightgray
  background-color: whitesmoke
  background-size: cover

  &:hover .button
    visibility: visible

  .center
    display: block
    margin: 0 auto
    width: 52px

  .button
    // visibility: hidden
    margin: 0 auto