div {
  /*border: solid 1px lightgray*/
} 

.main-container {
  margin-top: 50px;
  width: 70%;
}

.main-header {
  margin-bottom: 50px;
}

.lick-new {
  margin-bottom: 20px;
}

.lick-list .column {
  /*float: left;*/
  /*margin-right: 35px;*/
  /*margin-bottom: 35px;*/
  min-width: 300px;
}