top-container-height = 40px
controls-container-height = 60px
container-width = 876px /* 900 - 12 left margin - 12 right margin */
margin-horizontal = 60px
// Colors
background-color = white
top-container-color = #eef2f3
main-container-color = white
border-color = #dadada

font-size = 13px

fixed-container(top, height)
  position: fixed
  top: top
  z-index: 10
  width: 100%
  height: height

html
  -webkit-app-region: drag

button, .lick-list, #button-lick-create, #search-container
  -webkit-app-region: no-drag

.button.is-small
  padding-right: 15px
  padding-left: 15px
  border-radius: 20px

.main-container
  background-color: main-container-color

.top-container
  fixed-container(0px, top-container-height)
  border-bottom: 1px solid border-color
  background-color: top-container-color

  .tabs
    margin-top: 4px
    font-size: font-size
    font-weight: bold

    ul
      border-bottom-color: top-container-color

      li
        a
          padding-bottom: 9px

      li:not(.is-active)
        a
          border-bottom-color: top-container-color

.controls-container
  fixed-container(top-container-height, controls-container-height)
  border-bottom: 1px solid border-color
  background-color: background-color

#lick-controls
  margin: 16px margin-horizontal
  text-align: left

#button-lick-create
  display: inline-block
  margin-right: 10px
  border-radius: 20px
  font-size: font-size

#search-container
  display: inline-block

  input
    width: 200px
    border-radius: 20px
    font-size: font-size

  .suggestion-container-open
    overflow-y: scroll
    max-height: 450px
    border: 1px solid lightgray
    background-color: rgba(255, 255, 255, 0.9)

  .suggestion, .section-title
    padding: 5px 10px
    font-size: font-size

  .suggestion-highlighted
    background-color: rgba(245, 245, 245, 0.9)

  .lick-filters
    margin-top: 1.5px
    margin-left: 15px
    max-width: 553px

.main-content
  margin-top: top-container-height + controls-container-height + 20px
  margin-right: margin-horizontal
  margin-left: margin-horizontal

.lick-list
  .column
    width: 300px
