html {
  -webkit-app-region: drag
}

button, .lick-list {
  -webkit-app-region: no-drag
}

.top-container {
  width: 100%;
  height: 160px;
  position: fixed; 
  top: 0px;
  z-index: 10;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #fff;       
}

header {
  text-align: center; 
}

.main-header {
  margin-bottom: 50px;
}

.main-content {
  width: 900px;
  margin: 0 auto;
  margin-top: 170px;
}

.lick-new {
  margin-top: -70px;
  margin-bottom: 20px;
  position: fixed;
  z-index: 10;
}

.lick-list .column {
  width: 300px;
}
