

html {
  -webkit-app-region: drag
}

button, .lick-list {
  -webkit-app-region: no-drag
}

.top-container {
  width: 100%;
  top: 0px;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  /* margin-top: 10px; */
  position: fixed; 
  z-index: 10;
  background-color: #fff;  
  /* background-color: lightblue; */
  /* border-bottom: 1px solid lightgrey; */
  
}

header {
   text-align: center; 
}

.main-header {
  margin-bottom: 50px;
}

.main-content {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

.lick-new {
  margin-bottom: 20px;
}

.lick-list .column {
  /*float: left;*/
  /*margin-right: 35px;*/
  /*margin-bottom: 35px;*/
  width: 300px;
}